* {
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: "Open Sans", sans-serif;
}
body {
    height: 100vh;
    background-image: url("../IMG/background-login.gif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 20px 25px;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
    border-radius: 20px;
}
.container h1 {
    text-align: center;
    width: 100%;
    color: #fafafa;
    margin-bottom: 30px;
    position: relative;
}
.container h1::after {
    content: "";
    display: block;
    bottom: -10px;
    left: 90px;
    background: #2979ff;
    width: 40%;
    height: 2px;
    position: absolute;
}
.container label {
    text-align: left;
    color: #90caf9;
}
.container form input {
    width: calc(100% - 20px);
    padding: 8px 10px;
    margin-bottom: 15px;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid #2979ff;
    color: #fafafa;
    font-size: 20px;
}

.container form .valid {
    color: red;
    margin-bottom: 10px;
    display: none;
}

.container form button.login {
    cursor: pointer;
    width: 100%;
    padding: 5px 0;
    border: none;
    background-color: #2979ff;
    font-size: 18px;
    color: #fafafa;
    margin-bottom: 15px;
    border-radius: 5px;
}

.container form p {
    color: #fafafa;
}

.container form a {
    color: #90caf9;
}

.container form .inputan {
    position: relative;
}

.container form span {
    position: absolute;
    bottom: 17px;
    right: 0;
}

.container form span .hide_password {
    color: #90caf9;
    font-size: 18px;
}

.container form span .show_password {
    color: #90caf9;
    font-size: 18px;
    display: none;
}


